.header-wrapper {
    width: 100%;
    border: 1px solid orange;
    background-color: @secondary-color;

  }

.header-wrapper header {
    margin: 9.6rem auto;
    padding: 0 5%;
    overflow: hidden;

    max-width: 1400px;
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media @desktop {
        flex-direction: row;
        justify-content: center;
    }

    .left-hero {

        h1 {
            color: white;
        }

        p {
            color: grey;
        }

        button {
            background-color: @primary-color;
            padding: 1.2rem 6.4rem;
            margin: 3.2rem 0;
            border-radius: 0.4rem;
            border-color: @primary-color;

            a {
                color: @white;
            }
        }

        @media @desktop {
            text-align: left;
            width: 42%;
        }
    }

    .right-hero {
        @media @desktop {
            margin-left: 4%;
            width: 42%;
        }
    }
}

.main-wrapper {
    width: 100%;
    border: 1px solid orange;
    .background-gradient();
}

.main-wrapper main {
    overflow: hidden;
    border: 1px solid red;
    display: flex;
    flex-direction: column;

    margin: 6.4rem auto;
    padding: 0 5%;
    max-width: 1400px;

    .learn, .join {
        display: flex;
        flex-direction: column;
        text-align: center;

        .sub-heading {
            margin-top: 3.2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: 1px solid blue;

            hr {
                width: 4.0rem;
                margin: 0 0.8rem 0 0;
                background-color: grey;
            }
    
            h6 {
                text-transform: uppercase;
                color: @primary-color;
            }
        }

        h3, p {
            margin: 3.2rem 0;
        }

        @media @desktop {
            align-items: center;
            text-align: left;
        }
    }

    .learn {
        @media @desktop {
            flex-direction: row;
        }
    }

    .join {
        @media @desktop {
            flex-direction: row-reverse;
        }
    }

    .main-image {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .main-text {
        @media @desktop {
            margin: 0 2.4rem;
        }
    }
}